body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
}

.column2{
    padding: 1rem 0;
}

li{
    list-style: square;
    list-style-position: inside;
}

a{
    text-decoration: underline;
}

h2{
    text-align: center;
}

p{
    text-indent: 20px;
}

@media screen and (min-width: 768px) {
    .column1{
    flex: 2;
    padding: 1rem;
}

.column2{
    flex: 3;
    padding: 1rem;
}
    
}