body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-link{
    text-decoration: none;
}

.main-content{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.section{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-meta{
    font-style: italic;
}

a {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .main-content{
        display: flex;
        flex-flow: row wrap;
        box-sizing: border-box;
}
    .heading{
        flex: 0 0 100%;
        padding: 0 1rem 1rem 1rem; 
        box-sizing: border-box;
}

    #github-projects{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    #github-projects .section{
        flex: 1 1 calc(33.333% - 2rem);
        min-width: 280px;
        padding: 1rem;
        box-sizing: border-box;
    }
}